#navbar > a >img{
		height: 30px;
		width: 70px;
}

#first > div > ul {
	list-style: none;
}
body{
	height: 100%;
	background-image: url(https://mocah.org/uploads/posts/500944-simple-background.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#navbar> .navbar-brand{
	margin-left: 50px;

}
footer {
	margin-left: 50px;
	margin-top: 100px;
}
