*{
	font-family: 'Open Sans', sans-serif;
}
#navbar> a >img{
	height: 30px;
	width: 70px;
}
body{
	height: 100%;
	background-image: url(https://mocah.org/uploads/posts/500944-simple-background.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;	
}
#navbar:hover{
	/*background-color: transparent;*/
	/*background-image: url(https://mocah.org/uploads/posts/500944-simple-background.jpg);*/
	background-color: rgba(255,255,255,1);
}
#navbar> .navbar-brand{
	margin-left: 50px;

}
#contact{
	margin-top: 100px;
	text-align: center
}
#contact > div > div img{
	margin-bottom: 10px;
	margin-left: 20px;
	width: 30px;
	height: 30px;
}
.footer,.push{
	height: 25px;
}
.footer {
	margin-top: 50px;
	padding-left: 10px;

}

.strong {
	font-weight: bold;
}