*{
	font-family: 'Open Sans', sans-serif;
}

#navbar> a >img{
	height: 30px;
	width: 70px;
}
body{
	height: 100%;
	background-image: url(https://mocah.org/uploads/posts/500944-simple-background.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#navbar{
	background-color: transparent;
}
#navbar> .navbar-brand{
	margin-left: 50px;

}

div > #Homepage-picture img{
	height: 400px;
	width: 600px;
}

div > #Homepage-picture> div > #textmessage{
	padding-top: 200px;
	text-align: center;
	height: 400px;
	width: 600px;
	background-color: transparent;


}
div > #Homepage-picture h4{
	color:black;
}
div > #Homepage-picture {
	margin-left: 50px;
	padding-top: 20px;
}
footer {
	position: absolute;
	margin-top: 50px;
	margin-left: 50px;
}
