*{
	font-family: 'Open Sans', sans-serif;
}
body{
	height: 100%;
	background-image: url(https://mocah.org/uploads/posts/500944-simple-background.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;	
}
#navbar> a >img{
	height: 30px;
	width: 70px;
}

/*#navbar{
	background-image: url(https://mocah.org/uploads/posts/500944-simple-background.jpg);

}*/
#navbar> .navbar-brand{
	margin-left: 50px;

}
#navbarSupportedContent > .nav-item:hover{
	background-color: rgba(0,0,255,1);
}
#homepage{
	margin-top: 60px;
}
@media only screen and (max-device-width: 2560px){
	div > #Homepage-picture img{
		height: 800px;
		width: 1200px;
	}
}
@media only screen and (max-device-width: 1980px){
	div > #Homepage-picture img{
		height: 400px;
		width: 700px;
	}
}
@media only screen and (max-device-width: 1024px){
	div > #Homepage-picture img{
		height: 300px;
		width: 500px;
	}
}
@media only screen and (max-device-width: 768px){
	div > #Homepage-picture img{
		height: 200px;
		width: 300px;

	}
}
@media only screen and (max-device-width: 425px){
	div > #Homepage-picture img{
		height: 150px;
		width: 250px;
		
	}
}

div > #Homepage-picture {
	margin-left: 50px;
	padding-top: 20px;
	padding-bottom: 50px;
}


div > #Homepage-picture h4{
	color:black;
}

.footer,.push{
	height: 25px;
}
.footer {
	bottom: 0;
	padding-top: 8px;
	margin-top: 5px;
	padding-left: 10px;
}
.strong {
	font-weight: bold;
}
/*About CSS*/

#about > div > div > img {
	height: 100px;
	width: 100px;
	padding: 10px;

}
/*Contact CSS*/
#contact > div > div img{
	width: 50px;
	padding: 10px;
}
#contact > div > div img:hover{
	background-color: rgba(135,206,235,0.5);
}